.header {
   background-color: #307fda;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 13px;
   position: fixed;
   z-index: 2;
   width: 100%;
   background-color: rgba($color: #307fda, $alpha: 1);
   &__logo {
      width: 61px;
      height: 61px;
   }
   &__button {
      font-size: 14px;
      line-height: 17.57px;
      width: 147px;
      height: 40px;
   }
}
